# Running a Power Flow

As an example for the power flow,

In [5]:
import pandapower as pp
import pandapower.networks

net = pandapower.networks.create_example_simple()

In [11]:
net.gen.vm_pu = 1.01
pp.runpp(net)

In [12]:
net.res_bus

      vm_pu  va_degree          p_kw       q_kvar
0  1.000000   0.000000  -4041.018287  3326.998115
1  1.000004  -0.000829      0.000000     0.000000
2  1.000004  -0.000829      0.000000  -960.008132
3  1.009766  -1.038446      0.000000     0.000000
4  1.009766  -1.038446      0.000000     0.000000
5  1.010000  -1.037451  -6000.000000 -4733.002424
6  1.009841  -1.034518  -2000.000000     0.000000
7  1.009014  -1.064318  12000.000000  2400.000000

In [13]:
net.res_line

,p_from_kw,q_from_kvar,p_to_kw,q_to_kvar,pl_kw,ql_kvar,i_ka,loading_percent
0,4041.018287,-3326.998117,-4040.988171,3.203907e+03,0.030116,-123.091242,0.027473,4.672343
1,-5998.690085,-4734.721960,6000.000002,4.733002e+03,1.309917,-1.719497,0.218475,51.894350
2,-1999.850458,-4.732022,2000.000000,-1.480573e-09,0.149542,-4.732022,0.057173,13.580177
3,12007.850397,2400.395472,-12000.000000,-2.400000e+03,7.850397,0.395472,0.350114,83.162556

In [14]:
net.res_trafo

,p_hv_kw,q_hv_kvar,p_lv_kw,q_lv_kvar,pl_kw,ql_kvar,i_hv_ka,i_lv_ka,loading_percent
0,4040.988171,-2243.898742,-4009.309854,2339.058515,31.678317,95.159773,0.02426,0.1327,18.488693

In [15]:
net.res_load

      p_kw  q_kvar
0  12000.0  2400.0

In [16]:
net.res_shunt

   p_kw      q_kvar     vm_pu
0   0.0 -960.008132  1.000004

In [30]:
net.ext_grid.va_degree = 20
pp.runpp(net, "flat", False)
net.res_bus

      vm_pu  va_degree          p_kw       q_kvar
0  1.000000   0.000000  -4041.018287  3326.998115
1  1.000004  -0.000829      0.000000     0.000000
2  1.000004  -0.000829      0.000000  -960.008132
3  1.009766  -1.038446      0.000000     0.000000
4  1.009766  -1.038446      0.000000     0.000000
5  1.010000  -1.037451  -6000.000000 -4733.002424
6  1.009841  -1.034518  -2000.000000     0.000000
7  1.009014  -1.064318  12000.000000  2400.000000

In [31]:
net.ext_grid

   name  bus  vm_pu  va_degree in_service
0  None    0    1.0         20       True